body{
  font-family: 'PT Serif Caption', serif;;
}

a, a:visited{
  color: #FF0000;
}

a:hover, a:active{
  color: #b00101;
}

.hide{
  display: none;
}

.submit-name{
  font-size: 16px;
  font-weight: bold;
}